body{
  background-color: #282c34 !important;
}
.App {
  text-align: center;
}
.w100{
  background-color: #282c34;
}

.cardBody{
  background-color: #393e46;
  color: #eeeeee;
}
.card-body{
  background-color: #393e46;
}

.text-center{
  color: #ffd369;
}


Button.botonPrimario{
  color: #282c34;
  background-color: #ffd369;
  border-color: #ffd369;
  transition: 0.3s;
}
Button.botonPrimario:hover{
  color: #282c34;
  background-color: #b39247;
  border-color: #b39247;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



