body{
  background-color: #bbbbbb;
}
.App {
  text-align: center;
}
.w100{
  background-color: #282c34;
}

.cardBody{
  background-color: #393e46;
  color: #eeeeee;
}

.text-center{
  color: #ffd369;
}


.btn-primary {
  color: #282c34;
  background-color: #ffd369;
  border-color: #ffd369;
  transition: 0.3s;
}
.btn-primary:hover{
  color: #282c34;
  background-color: #b39247;
  border-color: #b39247;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



